/* Los estilos de tu proyecto */

/* Movile First */

/* Añadiendo estilos first-section*/
*{
    font-family: 'Raleway', sans-serif;
}
.yellow-box {
    color:#fff;
    background-color:rgb(255,191,0);
    padding: 1em 2em;
    position:absolute;
    right:0;
    margin-top:-30%;
}
body > div > div.row.first-section > div > div > div.hidden-md.hidden-xs > div:nth-child(2) > p > img {
    margin:0;
    display:inline;
    padding: 1em;
}
.first-section {
    display:flex;
    height:540px;
    background: url('../assets/images/taxi.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    justify-content: flex-end;
    align-items: center;
}
/* Añadiendo estilos second-section*/
.second-section {
    background-color:rgb(255,191,0);
    height: auto;
    font-weight: bold;
    color:#fff;
}
.outline {
    border: 1px solid #fff;
    margin : 1em 0;
    padding: 0.5em;
}
/* Añadiendo estilos third-section*/

.third-section {
    color:#fff;
    height:400px;
    background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.5)), url('../assets/images/conduce.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} 
/*Añadiendo estilos fourth-section*/

.fourth-section {
    background-color:rgb(255,191,0);
    color:#fff;
    text-align: center;
}
form {
    padding: 1em;
}
input {
    background-color:rgb(255,191,0);
    padding: 0.5em;
    border-radius:1em;
    border-style: none;
    border:1px solid #fff;
}
.map {
    margin: 1em 0;
    padding:1em;
    border:1px solid #fff;
}
.footer {
    background-color: #2d2d2d;
    color:#fff;
}
.fa {
    padding:0.2em;
}
.download {
    padding: 0.4em 0;
}
.button-yellow {
    background:#ffb100;
    color:white;
    font-weight:bold;
    padding: 0.5em 1em;
}
.button-light {
    background:#fff;
    font-weight: bold;
    color:#000;
    padding: 0.5em 1em;
}
.logo-white {
    margin:1em;
}
.desktop-text {
    display:none;
}
.map-2 {
    display:none;
}

/* Desktop View */

@media screen and (min-width:768px) {
    .second-section {
        text-align: justify;
    }
    .movil-text {
        display:none;
    }
    .desktop-text {
        display:block;
    }
    .text-phone {
        padding: 0 20em 0 0;
        float:right;
    }
    .driver-box {
        background: linear-gradient(rgba(133, 131, 131, 0.37), rgba(90, 90, 90, 0.719));
        padding: 3em;
        
    }
    .driver-btn {
        float:left;
    }
    .divider {
        margin: auto;
        width:28em;
        text-align:center;
    }
    .divider hr {
        width:30%;
    }
    .left {
        float:left;
        background:rgb(44,62,80);
    }
    .right {
        float:right;
        background:rgb(44,62,80);
    }
    .yellow-box-text {
        text-align:left; 
        padding:1em;
    }
    .footer {
        padding-top: 1.5em;
    }
    .copyright {
        text-align:center ;
    }
    .footer ul li, .footer img,.footer span {
        padding:0.5em;
    }
    .icons {
        position:absolute;
        left:-300%;
        bottom:-100%;
    }
    .modal-content {
        background-color:#4699b5;
    }
}